@inherits AdminCompontentBase
<SSimpleModal Value="_visible" ValueChanged="HandleVisibleChanged" OnDelete="HandleDel" OnSave="HandleOk"
              Title="@T(_entityId == default?"AddWebHook":"EditWebHook")" Class="full-height" HeaderClass="mr-4">
    <ChildContent>
        <MForm Model="_model" EnableValidation @ref="_form" Class="full-height">
            <AutoHeight>
                <AutoHeightContent>
                    <div class="d-flex">
                        <PCopyableText Class="d-flex justify-space-between full-width">
                            <span class="emphasis--text h8">@_model.SecretKey</span>
                        </PCopyableText>
                        <MSpacer></MSpacer>
                        <SIcon Size=20 Color="emphasis2" Class="ml-6" OnClick="HandleRefresh">mdi-refresh</SIcon>
                    </div>
                    <STextField Class="mt-12" @bind-Value="_model.DisplayName" Label="@T(nameof(_model.DisplayName))"></STextField>
                    <STextField Class="mt-12" @bind-Value="_model.Url" Label="@T(nameof(_model.Url))"></STextField>
                    <MTextarea Class="mt-12" @bind-Value="_model.Description"
                               Label="@T(nameof(_model.Description))"
                               Outlined
                               HideDetails="@("auto")">
                    </MTextarea>
                </AutoHeightContent>
            </AutoHeight>
        </MForm>
    </ChildContent>
    <DeleteContent Context="delete">
        @if (_entityId != default)
        {
            <MIcon Size="24" Color="error" Class="align-self-center" OnClick="delete.Click">mdi-delete</MIcon>
        }
    </DeleteContent>
    <SaveContent Context="save">
        @if (_entityId != default)
        {
            <MButton Color="fill" Class="btn-form line-primary rounded-3 btn primary--text" OnClick="()=> _testModal?.OpenModalAsync(_model.Id)!">@T("Test")</MButton>
        }
        <MButton Color="primary" Class="btn-form ml-6" OnClick="HandleOk">@T("Submit")</MButton>
    </SaveContent>
</SSimpleModal>

<WebHookTestModal @ref="_testModal" />