@inherits AdminCompontentBase
<MCard Class="@($"d-flex flex-column px-2 rounded-xl")" MinHeight=Height>
    <MCardTitle Class="px-0 py-1">
        <MListItem Class="px-2">
            <MListItemTitle Class="emphasis--text h8">
                @WebHook.DisplayName
            </MListItemTitle>
            <MListItemIcon Class="mr-n2">
                <SIcon Size=20 Color="emphasis2">@IconConstants.Update</SIcon>
                <SIcon Size=20 Color="emphasis2" Class="ml-3">@IconConstants.Authorize</SIcon>
            </MListItemIcon>
        </MListItem>
    </MCardTitle>
    <MCardText Class="flex-grow-1 mt-4 pa-0">
        <div class="regular--text caption fill-background pa-2 text-justify rounded-lg">
            @WebHook.Url
        </div>
    </MCardText>
    <MCardActions Class="px-3 pb-3">
        <MSpacer />
        <span class="caption regular3--text">@WebHook.ModificationTime.Humanize(culture:I18n.Culture) </span>
        <span class="d-flex px-1" style="height: 8px">
            <MDivider Vertical />
        </span>
        <span class="caption regular2--text">@WebHook.ModifierName</span>
    </MCardActions>
</MCard>

@code {
    [Parameter]
    public int Height { get; set; } = 210;

    [EditorRequired]
    [Parameter]
    public WebHookListViewModel WebHook { get; set; } = null!;

    [Parameter]
    public EventCallback OnEdit { get; set; }

    private async Task HandleEdit()
    {
        if (OnEdit.HasDelegate)
        {
            await OnEdit.InvokeAsync();
        }
    }
}