@inherits AdminCompontentBase

<MForm Model="Value" EnableValidation @ref="Form" Class="full-height">
    <MContainer Fluid Class="full-height pa-0">
        <MRadioGroup @bind-Value="IsThirdParty">
            <MRadio Value="false" Class="flex-row-reverse fill-hover px-12 py-13 rounded-4">
                <LabelContent>
                    <span class="h5 @(!IsThirdParty?"primary--text":"emphasis2--text")">@T("Processed")</span>
                </LabelContent>
            </MRadio>
            <div class="@(IsThirdParty == false?"":"d-none")">
                <div class="d-flex align-center mt-4">
                    <MSwitch @bind-Value="Value.IsHandleNotice" Inset Class="label ml-1 mt-0 pt-0 flex-shrink-0" Label="@T("SendNotificationAfterProcessing")" />
                    @if (Value.IsHandleNotice)
                    {
                        <NotificationConfig @bind-value="Value.NotificationConfig"></NotificationConfig>
                    }
                </div>
            </div>
            <MRadio Value="true" Class="flex-row-reverse fill-hover px-12 py-13 rounded-4 mt-6">
                <LabelContent>
                    <span class="h5 @(IsThirdParty?"primary--text":"emphasis2--text")">@T("ThirdPartyProcessing")</span>
                </LabelContent>
            </MRadio>
            <div class="@(IsThirdParty == true?"":"d-none")">
                <div class="full-width mt-6">
                    <WebHookAutoComplete @bind-Value="Value.WebHookId" Label="@T("WebHook")"></WebHookAutoComplete>
                    <SUserAutoComplete Class="fill mt-6" @bind-Value="Value.Handler" Label="@T("Handler")" Outlined FillBackground="false" Style="width: initial" />
                </div>
                <div class="d-flex align-center mt-6">
                    <MSwitch @bind-Value="Value.IsHandleNotice" Inset Class="label ml-1 mt-0 pt-0 flex-shrink-0" Label="@T("SendNotificationAfterProcessing")" />
                    @if (Value.IsHandleNotice)
                    {
                        <NotificationConfig @bind-value="Value.NotificationConfig"></NotificationConfig>
                    }
                </div>
            </div>
        </MRadioGroup>
    </MContainer>
</MForm>

@code {
    public MForm? Form { get; set; }

    [Parameter]
    public AlarmHandleViewModel Value { get; set; }

    [Parameter]
    public bool IsThirdParty { get; set; }

    protected override string? PageName { get; set; } = "AlarmHistoryBlock";

}